/*
Breakpoint	Class	Dimensions
Desktop Version 1280×720 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;

    img {
        height: 250px;
        width: 150px;
        // opacity: 0.5;
    }

    p {
        padding: 3%;
    }

    span {
        // https://www.w3schools.com/tags/canvas_stroketext.asp  um den text so s/w zu machen
    }

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10% 5% 15% 5%;

        img {
            width: 80px;
            height: 80px;
        }

        button {
            height: 35px;
            width: 100px;
            background-color: black;
            border: 2px solid white;
            text-align: center;
            color: whitesmoke;
        }
    }
}

main article {

    padding: 10% 0 0 5%;

    &:nth-of-type(1) {
        background-color: black;
        color: white;
        // background-image: url(../img/map.svg);

        h2 {
            width: 80%;
            // margin: 5% 30% 5% 10%
            padding: 0 10% 0% 0;
        }

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        section div {

            background-position: right 35% bottom 45%;

            .stat {
                font-size: 1rem;
                padding: 0 0 3% 0;
            }

            .statNumber {
                font-size: 4rem;
                padding: 0 0 10% 0;
            }
        }

        section img {
            height: 50%;
            width: 50%;
            position: relative;
            top: -100px;
        }
    }

    &:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);

        img {
            height: 150px;
            width: auto
        }

        .GridText {
            width: 400px;
        }

        // Bilderzuweisung im Grid
        .grid1 {
            grid-column: 3/span 2;
        }

        .grid2 {
            grid-column: 1/span 1;
        }

        .grid3 {
            grid-colum: 2/span 2;
        }

        .grid4 {
            grid-column: 4/span 1;
        }

        .grid5 {
            grid-column: 1/span 2;
        }

        .grid6 {
            grid-column: 3/span 2;
        }

        .grid7 {
            grid-column: 1/span 1;
        }

        .grid8 {
            grid-column: 2/span 3;
        }

        .grid {
            grid-column: 1/span 4;
        }

    }

    &:nth-of-type(3) {}

    &:nth-of-type(4) {}
}